.bot-img {
	transition: opacity 150ms;
}

.bot-img.thinking {
	opacity: .9;
}

.dialog-form {
	display: block;
	padding: 1em 0;
	width: 100%;
	float: left;
	clear: both;
}

input[type=text] {
	width: 400px;
	height: 30px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	padding: 0 0.5em;
}

input[type=submit], input[type=button] {
	width: 100px;
	height: 38px;
	font-family: 'Lucida grande', Helvetica, sans-serif;
	font-size: 120%;
	cursor: pointer;
}

.greyed {
	color: #888;
}

.dialog {
	margin-bottom: 5em;
}

.dialog img {
	padding: .5em;
	max-width: 100%;	
}

.fork-me img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}